# =========================
# Terraform
# =========================
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# =========================
# Environment Variables
# =========================
.env
.env.*
*.env
env/
venv/
.venv/
ENV/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Ansible
# =========================
./ansible/inventory/hosts.ini
./ansible/group_vars/all.yml

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments (redundant safety)
.venv
venv

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS / System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Kubernetes
# =========================
k8s/secrets/
*.secret.yaml
secrets.yaml

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
*.log

# =========================
# Misc
# =========================
coverage/
.cache/